.restaurants {
	padding: 15px;
}

.restaurants .restaurant img{
	object-fit: cover;
	height: 250px;
}

.restaurants .restaurant {
	padding:0;
}

.restaurants .card-back {
	height: 100%;
	width: 100%;
	top: 0;
	position: absolute;
	background-color: rgba(125, 61, 9, 0.31);
}

.restaurants .blur {
	-webkit-filter: blur(50px);
	-moz-filter: blur(50px);
	-ms-filter: blur(50px);
	-o-filter: blur(50px);
	filter: blur(50px);
}

.restaurants .card-title {
	font-weight: bold;
	color: #fff;
	text-shadow: #845d4f 1px 1px, #845d4f -1px 1px, #845d4f -1px -1px, #845d4f 1px -1px;
}

.restaurants .card-text.desc {
	height: 100px;
	overflow: hidden;
}

img {
	max-width: 100%; /* This rule is very important, please do not ignore this! */
}

#myModal img {
	max-height: 400px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}