.main {
	    padding-top: 15px;
}

#sortable div, .cu-cl {
	cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.cu-over {
	cursor: move;
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}
.cu-out{
	cursor: not-allowed !important;
}