doctype html
html(lang='en')
	head
		// Required meta tags always come first
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		// Bootstrap CSS

		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
		link(rel='stylesheet', href='/dragula-3.7.2/dist/dragula.min.css')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css', rel='stylesheet')
		link(rel='stylesheet', href='/stylesheets/style.css')
		block stylesheet

	body
		nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
			div.container
				button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
					span.navbar-toggler-icon
				a.navbar-brand(href='#') MCQuizz
				#navbarNavDropdown.collapse.navbar-collapse
					ul.navbar-nav
						li.nav-item.active
							a.nav-link(href='#')
								| Home
								span.sr-only (current)
						li.nav-item
							a.nav-link(href='#') Features
						li.nav-item
							a.nav-link(href='#') Pricing
						li.nav-item.dropdown
							a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
								| Dropdown link
							.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
								a.dropdown-item(href='#') Action
								a.dropdown-item(href='#') Another action
								a.dropdown-item(href='#') Something else here
		div.container.main
			nav.breadcrumb
				a.breadcrumb-item(href='#') Accueil
				a.breadcrumb-item(href='#') Connexion
				a.breadcrumb-item(href='#') Data
				span.breadcrumb-item.active Bootstrap
			block content
		// jQuery first, then Tether, then Bootstrap JS.
		script(src='https://code.jquery.com/jquery-3.1.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/additional-methods.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.js')
		block script